# 1.Create a simple deployment of the given app with name of your choice and 3 replicas of pods. 
#Check the status of pod by sending request. App should be accessed from outside the cluster. 

apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  namespace: ms22cs107
  labels:
    app: deployment-label

spec: 
  replicas: 3
  template:
    metadata:
      labels:
        app: pod-label
    spec:
      containers:
      - name: nginx-container
        image: 172.1.14.168:5001/nginx 
        ports: 
        - containerPort: 80

  selector:
    matchLabels:
      app: pod-label

# Command to create name space: kubectl create namespace ms22cs107
# Command to deploy: kubectl apply -f q1.yaml
# Command to check pods: kubectl get pods --namespace=ms22cs107
# Command to expose: kubectl expose deployment deployment --type=NodePort --name=deployment-service --namespace=ms22cs107
# To get exposed port: kubectl get svc --namespace=ms22cs107
# Open the browser and type : http://172.1.14.168:<NodePort>
