# 2. Demonstrate the updation of image in live container in a pod using command line.

apiVersion: apps/v1
kind: Deployment 
metadata:
  name: deployment
  namespace: ms22cs107
  labels:
    app: deployment-label

spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: pod-label
    spec:
      containers:
      - name: nginx-container
        image: 172.1.14.168:5001/nginx
        ports:
        - containerPort: 80
  
  selector:
    matchLabels:
      app: pod-label     


# Command to create name space: kubectl create namespace ms22cs107
# Command to deploy: kubectl apply -f q2.yaml
# Command to check pods: kubectl get pods --namespace=ms22cs107
# Update Image: kubectl set image deployment/deployment nginx-container=newImageUSN --namespace=ms22cs107
# Check if Image is updated: kubectl describe deploy deployment --namespace=ms22cs107 | grep  newImageUSN
