# 6. Create a manifest file for creating a pod with 2 containers. 
# Demonstrate container to container communication and display “Ubuntu” container log entry.*/

apiVersion: v1
kind: Pod
metadata: 
  name: pod-q6
  namespace: ms22cs107
  labels:
    app: pod-label

spec:
  containers:
  - name: ubuntu-container
    image: ubuntu
    command: ["/bin/bash"]
    args: [ "-c","while true; do echo Hello; sleep 5; done"]
    
  - name: httpd-container
    image: httpd
  
    ports:
    - containerPort: 80

# Create the namespace: kubectl create namespace ms22cs107
# Add File: kubectl apply -f q6.yaml --namespace=ms22cs107
# Get the Pod: kubectl get pods --namespace ms22cs107
# Open bash shell inside ubuntu-container of pod-q6: kubectl exec --namespace ms22cs107 pod-q6 -it -c ubuntu-container -- /bin/bash
# Update apt: apt update
# Install curl: apt install curl
# Send HTTP request: curl localhost:80
# Exit shell: exit
# Display logs: kubectl logs pod-q6 -c ubuntu-container --namespace ms22cs107
