# 7. Create 2 Pods on the same node. Demonstrate Pod to Pod communication through Pod IP.

#File 1: Q7A.yaml
kind: Pod
apiVersion: v1
metadata:
  name: pod-1
  namespace: ms22cs107
  labels:
    app: pod1-label
    
spec:
  containers:
  - name: nginx-container
    image: nginx
    ports:
    - containerPort: 80

#File 2: Q7B.yaml
kind: Pod
apiVersion: v1
metadata:
  name: pod-2
  namespace: ms22cs107
  labels:
    app: pod2-label

spec:
  containers:
  - name: httpd-container
    image: httpd
    ports:
    - containerPort: 80

# kubectl create namespace ms22cs107
# kubectl apply -f q7A.yaml --namespace=ms22cs107
# kubectl apply -f q7B.yaml --namespace=ms22cs107

# Display the name and IP address of both pods: kubectl get pods --namespace=ms22cs107 -o custom-columns=NAME:metadata.name,IP:status.podIP 

# Open bash shell inside nginx-container of pod-1: kubectl exec --namespace=ms22cs107 pod-1 -it -c nginx-container -- /bin/bash
#Inside the shell:
# apt update
# apt install curl
# curl localhost:80
# curl <tespod2_ip>:80
# exit

# Open bash shell inside httpd-container of pod-2: kubectl exec --namespace=ms22cs107 pod-2 -it -c httpd-container -- /bin/bash
#Inside the shell:
# apt update
# apt install curl
# curl localhost:80
# curl <tespod1_ip>:80
# exit
